__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
.DS_Store
.env
.env.*
mlruns/
data/raw/
data/processed/
reports/monitoring/
tableau/dashboard_data/
__pypackages__/
venv/
.venv/
.envrc
*.sqlite
*.db
*.egg-info/
.idea/
.vscode/
*.ipynb_checkpoints
